set system radius-server {{ data.radiusServer1 }} port 1812
set system radius-server {{ data.radiusServer1 }} secret {{ data.junossecret }}
set system radius-server {{ data.radiusServer1 }} source-address {{ sourceIP }}
set system radius-server {{ data.radiusServer1 }} retry 3 
set system radius-server {{ data.radiusServer2 }} port 1812 
set system radius-server {{ data.radiusServer2 }} secret {{ data.junossecret }}
set system radius-server {{ data.radiusServer2 }} source-address {{ sourceIP }} 
set system radius-server {{ data.radiusServer2 }} retry 3
set system login user SU class super-user
set system authentication-order radius
set system authentication-order password
set system radius-options password-protocol mschap-v2